/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.94.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@12.6.0_sass@1.62.1_webpack@5.94.0/node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.sjosd__custom-tab {
  background-color: var(--b3-theme-background);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sjosd__custom-dock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sjosd__time {
  background: var(--b3-card-info-background);
  border-radius: var(--b3-border-radius-b);
  padding: 2px 8px;
}

.sjosd-top-container {
  user-select: none;
  padding-right: 8px;
}
.sjosd-top-container button svg {
  pointer-events: none;
}
.sjosd-top-container .sjosd-tabs {
  display: flex;
  position: relative;
  padding: 0 6px;
  border-radius: var(--b3-border-radius);
  background-color: var(--b3-theme-background);
  margin-bottom: 5px;
}
.sjosd-top-container .sjosd-tabs * {
  z-index: 2;
}
.sjosd-top-container input[type=radio] {
  display: none;
}
.sjosd-top-container .sjosd-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  border-radius: var(--b3-border-radius-b);
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.sjosd-top-container .sjosd-tab-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  min-width: 1.4em;
  height: 1.4em;
  margin-left: 0.4em;
  border-radius: var(--b3-border-radius);
  background-color: var(--b3-theme-surface);
  transition: 0.15s ease-in;
}
.sjosd-top-container label * {
  pointer-events: none;
}
.sjosd-top-container input[type=radio]:checked + label .sjosd-tab-text {
  color: var(--b3-theme-primary);
}
.sjosd-top-container input[type=radio]:checked + label > .sjosd-tab-count {
  background-color: var(--b3-theme-primary);
  color: #fff;
}
.sjosd-top-container input[id=sjosd-radio-css]:checked ~ .sjosd-glider {
  transform: translateX(0);
}
.sjosd-top-container input[id=sjosd-radio-js]:checked ~ .sjosd-glider {
  transform: translateX(100%);
}
.sjosd-top-container .sjosd-glider {
  position: absolute;
  display: flex;
  top: 4px;
  height: 22px;
  width: 60px;
  left: 6px;
  background-color: var(--b3-menu-background);
  z-index: 1;
  border-radius: var(--b3-border-radius);
  transition: 0.25s ease-out;
}
@media (max-width: 700px) {
  .sjosd-top-container .sjosd-tabs {
    transform: scale(0.6);
  }
}

.sjosd-snippet-item button svg {
  pointer-events: none;
}
.sjosd-snippet-item .sjosd-snippet-name:empty::before {
  content: attr(placeholder);
  color: var(--b3-theme-on-surface-light);
}
.sjosd-snippet-item .sjosd-snippet-name::-webkit-scrollbar {
  height: 0;
}

.sjosd-dialog {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sjosd-dialog button svg {
  pointer-events: none;
}
.sjosd-dialog .sjosd-dialog-header {
  display: block;
  height: 24px;
  flex-shrink: 0;
  cursor: grab;
}
.sjosd-dialog .sjosd-dialog-container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
