// TODO: 所有使用 px 的地方都改成 em，否则界面缩放会影响布局

.sjosd {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    background: var(--b3-card-info-background);
    border-radius: var(--b3-border-radius-b);
    padding: 2px 8px;
  }
}

.sjosd-top-container {
  user-select: none;
  padding-right: 8px;
  
  button svg {
    pointer-events: none;
  }
  
  .sjosd-tabs {
    display: flex;
    position: relative;
    padding: 0 6px;

    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-background);
    margin-bottom: 5px;
  }
  .sjosd-tabs * {
    z-index: 2;
  }
  input[type="radio"] {
    display: none;
  }
  .sjosd-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 60px;
    // font-size: 1.25rem;
    // font-weight: 500;
    border-radius: var(--b3-border-radius-b);
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  .sjosd-tab-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    min-width: 1.4em;
    height: 1.4em;
    margin-left: .4em;
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-surface);
    transition: 0.15s ease-in;
  }
  label * {
    pointer-events: none;
  }
  input[type="radio"]:checked + label .sjosd-tab-text {
    color: var(--b3-theme-primary);
  }
  input[type="radio"]:checked + label > .sjosd-tab-count {
    background-color: var(--b3-theme-primary);
    color: #fff;
  }
  input[id="sjosd-radio-css"]:checked ~ .sjosd-glider {
    transform: translateX(0);
  }
  input[id="sjosd-radio-js"]:checked ~ .sjosd-glider {
    transform: translateX(100%);
  }
  .sjosd-glider {
    position: absolute;
    display: flex;
    top: 4px;
    height: 22px;
    width: 60px;
    left: 6px;
    background-color: var(--b3-menu-background);
    z-index: 1;
    border-radius: var(--b3-border-radius);
    transition: 0.25s ease-out;
  }
  @media (max-width: 700px) {
    .sjosd-tabs {
      transform: scale(0.6);
    }
  }
}

.sjosd-snippet-item {
  button svg {
    pointer-events: none;
  }

  .sjosd-snippet-name {
    &:empty::before {
      content: attr(placeholder);
      color: var(--b3-theme-on-surface-light);
    }

    &::-webkit-scrollbar {
      // 被截断的代码片段名称，在桌面端可以按住 Shift 滚动鼠标滚轮来查看，在移动端可以直接按住左右划动查看
      height: 0;
    }
  }
}

.sjosd-dialog {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  button svg {
    pointer-events: none;
  }

  .sjosd-dialog-header {
    display: block;
    height: 24px;
    flex-shrink: 0;
    cursor: grab;
  }

  .sjosd-dialog-container {
    padding: 0 24px;
    display: flex;
    flex-direction: column;

  }
}